@font-face {
    font-family: valorant;
    src: url("../fonts/Valorant\ Font.ttf");
  }

@font-face {
    font-family: jetJames;
    src: url("../fonts/JetJaneMono\ Bold.ttf");
}

@font-face {
    font-family: american;
    src: url("../fonts/American\ Captain.ttf");
}

.tyronevid {
    margin-top: 90px;
    margin-left: 20px;
    position: fixed;
    z-index: 1000;
}

.tyronevid video {
    width: 100px;
    transition: .5s;
}

.tyronevid video:hover {
    transition: .5s;
    width: 800px;
}


.navbar-light .navbar-nav .nav-link{
    font-family: jetJames;
    color: rgb(0, 0, 0);
    font-size: 18px;
}


.turon-brand {
    max-height: 50px;
}

.play {
    font-family: jetJames;
}

.navbar-nav {
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.nav-item {
    padding-right: 10%;
}

.navbar-light .navbar-nav .nav-link {
    transition: all 0.3s ease 0s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}

.play button {
    padding: 9px 25px;
    color: white;
    background-color: rgb(219, 58, 58);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.play button:hover {
    background-color: rgb(192, 11, 11);
}

header {
    min-height: 60px;
    justify-content: space-between;
    background-size: cover;
    align-items: center;
    margin: 0;
}

.button-container {
    height: 800px;
    position: relative;
}
  
.button-center {
    margin: 0;
    position: absolute;
    top: 540px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-center button {
    background-color: rgb(213, 48, 48);
    border: none;
    padding: 15px 32px;
    text-align: center;
    transition: .3s;
}

.button-center button:hover {
    background-color: rgba(197, 28, 28, 0.897);
    transition: .3s;
}

.text-container {
    font-family: jetJames;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 310px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-container p {
    color: white;
    font-size: 23px;
    text-shadow: 2px 2px #111;
}

.text-containerr {
    font-family: jetJames;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 610px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-containerr h4 {
    color: white;
    font-size: 17px;
    font-weight: 900;
    text-shadow: 1px 1px #111;
}


.TEXT {
    font-family: valorant;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 445px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.TEXT h1 {
    font-size: 160px;
    padding-bottom: 30px;
    text-shadow: 10px 10px #111;
}

.button-center a {
    font-family: jetJames;
    text-decoration: none;
    color: white;
}

.bg-dark{
    background: rgb(0, 0, 0) !important;
}

body {
    margin-top: 50px;
}

main {
    background: url(../images/background-sprite.png);
    background-repeat: repeat-y;
    background-size: 40vw;
    background-position: 110px 150px;
    padding-bottom: 30px;
    min-height: 90vh;
}


.Gameplay {
    margin-top: 10px;
    margin-left: 0;
    font-family: american;
    font-size: 5em;
    color: rgb(213, 48, 48);
    text-shadow: 2px 2px #0e0e0e;
    margin-bottom: 20px;
}

.infor {
    display: block;
    margin-left: 100px;
    margin-right: 40px;
    text-align: justify;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
}

.infor:hover {
    color: rgb(156, 36, 36);
}



footer {
    background-color: #111;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 150px 15px 150px;
}

.footerText {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 15px;
}

.download {
    font-family: jetJames;
    font-size: 18px;
    text-decoration: none;
}

.download a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.download a:hover {
    transition: .3s;
    color: rgb(213, 48, 48);
}

.footerContainer a {
    font-family: jetJames;
    font-size: 18px;
    padding-top: 5px
}

.footerContainer a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.footerContainer a:hover {
  transition: .3s;
  color: rgb(213, 48, 48);
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* hover effect icons*/

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerBottom {
    align-items: center;
    background-color: black;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.footerLicense {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 10px;
    background-color: rgb(48, 48, 48);
}

.footerBot {
    align-items: center;
    background-color: rgb(34, 33, 33);
    text-align: center;
    padding: 20px 50px 1px 50px;
}

.footerBot p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.license {
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: .1s;
}

.license:hover {
    transition: .1s;
    font-size: 20px;
}